# Object files
*.o

# Libraries
*.lib
*.a
*.a43

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf

# Log/Trace files
*.log
*.trc

# Others
*.lst

# Debug directory
Debug
